<footer>
    
        <nav>
          <label class="logo">Codeial © All Rights Reserved</label>
          <ul>
              
            <% if(locals.user){ %>
                <li> <a href="/users/profile/<%=user.id%>">Profile</a></li>
               
                <% } %>
              <li>
                  <a href="/">Home</a>
              </li>
      
             
          </ul>
          </nav>
      
</footer>