footer {
  background-color: lightgrey;
  position: fixed;
  bottom: 0;
  height: 2.5rem;
  width: 100%; }
  footer label.logo {
    color: white;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0rem 2rem 0.5rem 1rem;
    font-weight: bold; }
  footer ul {
    float: right;
    margin-right: 3rem; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        color: white;
        font-size: 1.2rem;
        padding-left: 1rem;
        line-height: 1rem;
        text-transform: uppercase; }
