header {
  background-color: lightblue;
  position: fixed;
  width: 100%; }
  header label.logo {
    color: white;
    font-size: 2rem;
    line-height: 4rem;
    padding: 0 100px;
    font-weight: bold; }
  header ul {
    float: right;
    margin-right: 3rem; }
    header ul li {
      display: inline-block; }
      header ul li a {
        color: white;
        font-size: 1.2rem;
        padding-left: 1rem;
        text-transform: uppercase; }
